ion-card{
    ion-card-subtitle{
        text-transform: uppercase;
        font-weight: bold;
    }
    p{
        white-space: normal;
    }
}
ion-card{
    border-radius: 6.6%;
}
ion-button{
    border-radius: 6.6%;
}