<ion-content>
  <div class="flex-center">
    <ion-card>
      <ion-card-header>
        <ion-card-title color="success">Reciclica</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        <ion-item>
          <ion-label position="floating" color="success">Email</ion-label>
          <ion-input type="email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating" color="success">Password</ion-label>
          <ion-input type="password"></ion-input>
        </ion-item>
        <ion-button color="dark" fill="clear" class="forgot" expand="block">Forgot email/password</ion-button>
        <ion-button color="success" expand="block">Login</ion-button>
        <ion-button color="success" fill="clear" expand="block" class="regis">Register</ion-button>
      </ion-card-content>
    </ion-card>    
  </div>
</ion-content>
