.forgot{
    text-transform: initial;
    --ripple-color: transparent;
}
ion-card{
    border-radius: 6.6%;
}
ion-button{
    border-radius: 6.6%;
}
ion-content{
    --background: var(--ion-color-success);
}
    
