ion-content{
    --background: var(--ion-color-success);
}
ion-title{
    text-transform: initial;
    color: white;
}
ion-card{
    border-radius: 6.6%;
}
ion-button{
    border-radius: 6.6%;
    margin: 10px;
}
