<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>  
    <ion-title>Reciclica</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-list>
  <ion-item>
    <ion-avatar slot="start"><img src="https://www.w3schools.com/howto/img_avatar.png"/></ion-avatar>
    <ion-label>
      <h1>Partner Name</h1>
      <p>Gathered: <span class="money">15,00€</span></p>
    </ion-label>
  </ion-item>
</ion-list>
</ion-content>
